DATABASE_URL=postgresql://postgres:postgres@localhost:5432/resident_evil_tracker

APP_NAME=Resident Evil Franchise Tracker API
APP_ENV=development
APP_VERSION=0.1.0

BACKEND_CORS_ORIGINS=http://localhost:5500,http://127.0.0.1:5500,http://localhost:5173,http://127.0.0.1:5173
